<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ConcertProject - {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.png') }}">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
        <script>
	        tailwind.config = {
		        theme: {
			        container: {
				        center: true,
			        },
                    backgroundSize: {
                        'auto': 'auto',
                        'cover': 'cover',
                        'contain': 'contain',
                        'hovered': '150%',
                    },
		        },
	        }
        </script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="h-screen flex flex-col">
    <header>{% include('navbar.html.twig') %}</header>
    <main class="flex flex-col flex-grow w-full">{% block body %}{% endblock %}</main>
    <footer>{% include('footer.html.twig') %}</footer>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</html>
