<div class="w-full bg-gray-100 px-2 md:px-4 xl:px-8 lg:text-left">
    <div class="grid grid-cols-12 py-2">
        <div class="col-start-1 col-end-3 text-gray-700 whitespace-nowrap">
            © 2022 Copyleft - concertProject
        </div>
        <div class="col-start-3 col-end-11 text-center text-gray-700">
            Place Charles de Gaulle, 34000 Montpellier
        </div>
        <div class="col-start-11 col-end-13 text-right text-gray-700">
            Alexis De Chiara
        </div>
    </div>
</div>
